@(temas: List[models.Tema])

@main("Selecionar Tema") {
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">Menu</div>
			<div class="panel-body">
				<div class="form-group">
					<div class="row">
						<div class="col-md-12">
							<ul class="nav nav-pills nav-stacked painel">
								<li><a href="/temas/listar">Temas</a></li>
								<li><a href="/temas/cadastrar">Cadastrar Temas</a></li>
								<li class="active"><a href="/temas/editar">Editar Temas</a></li>
								<li><a href="/temas/remover">Excluir Temas</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	
	<div class="col-md-8">
		<div class="panel panel-primary">
			<div class="panel-heading">Selecione um Tema para Editar</div>
			<div class="panel-body">
				<form action="/temas/editar" method="post">
					<div class="form-group">
						<div class="row">
							<div class="col-md-10">
								<select name="opcoes" class="form-control">
									@for(tema <- temas){
						    			<option value="@tema.getId()">@tema.getNome()</option>
						    		}
								</select>
							</div>
						</div>
					</div>
					<hr>
					<p align="center">
						<a href="/temas/editar" class="btn btn-primary">Voltar</a>
						<button type="submit" class="btn btn-success">Avançar</button>
					</p>
				</form>
			</div>
		</div>
	</div>
}